html * {
  background-color: rgb(223, 214, 151);
}

img {
  border-radius: 20px;
}

button {
  border: none;
}

.article-button {
  margin-left: 25%;
  width: 1000px;
  border: 10px solid #B22222;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.article-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.article-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.title-container {
  width: 300px;
  justify-content: center;
  padding-right: 10px;
}

.title {
  word-wrap: break-word;
}